<div class="Table">
  <p-table
    #dt
    [value]="preventivo || []"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="centroMaquina">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centroMaquina"
              class="filter"
              placeholder="Centro maquina"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centroMaquina" />
          </div>
        </th>
        <th pSortableColumn="subFamilia">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="subFamilia"
              class="filter"
              placeholder="Subfamilia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="subFamilia" />
          </div>
        </th>
        <th pSortableColumn="maquinaria">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="maquinaria"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="maquinaria" />
          </div>
        </th>
        <th pSortableColumn="nivel">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="nivel"
              class="filter"
              placeholder="Nivel"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="nivel" />
          </div>
        </th>
        <th pSortableColumn="posicion">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="posicion"
              class="filter"
              placeholder="Posición"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="posicion" />
          </div>
        </th>
        <th pSortableColumn="horomMant">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="horomMant"
              class="filter"
              placeholder="Horom Mant"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="horomMant" />
          </div>
        </th>
        <th pSortableColumn="horomFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="horomFinal"
              class="filter"
              placeholder="Horóm Final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="horomFinal" />
          </div>
        </th>
        <th pSortableColumn="KmMant">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="KmMant"
              class="filter"
              placeholder="Km Mant"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="KmMant" />
          </div>
        </th>
        <th pSortableColumn="KmFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="KmFinal"
              class="filter"
              placeholder="Km Final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="KmFinal" />
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="fecha"
              class="filter"
              placeholder="Fecha"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="fecha" />
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-preventivo>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ preventivo.centroMaquina }}</td>
        <td>{{ preventivo.subfamilia }}</td>
        <td>{{ preventivo.maquinaria }}</td>
        <td>{{ preventivo.nivel }}</td>
        <td>{{ preventivo.posicion }}</td>
        <td>{{ preventivo.horomMant }}</td>
        <td>{{ preventivo.horomFinal }}</td>
        <td>{{ preventivo.kmMant }}</td>
        <td>{{ preventivo.kmFinal }}</td>
        <td>{{ preventivo.fecha }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
