<div class="Table">
  <p-table
    #dt
    [value]="preventivo"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="machineCenter">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machineCenter"
              class="filter"
              placeholder="Centro Máquina"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machineCenter" />
          </div>
        </th>
        <th pSortableColumn="subfamily">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="subfamily"
              class="filter"
              placeholder="Subfamilia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="subfamily" />
          </div>
        </th>
        <th pSortableColumn="machinery">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machinery"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machinery" />
          </div>
        </th>
        <th pSortableColumn="level">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="level"
              class="filter"
              placeholder="Nivel"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="level" />
          </div>
        </th>
        <th pSortableColumn="position">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="position"
              class="filter"
              placeholder="Posición"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="position" />
          </div>
        </th>
        <th pSortableColumn="horomMaint">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="horomMaint"
              class="filter"
              placeholder="Horom Mant"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="horomMaint" />
          </div>
        </th>
        <th pSortableColumn="horomFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="horomFinal"
              class="filter"
              placeholder="Horóm Final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="horomFinal" />
          </div>
        </th>
        <th pSortableColumn="kmMaint">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="kmMaint"
              class="filter"
              placeholder="Km Mant"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="kmMaint" />
          </div>
        </th>
        <th pSortableColumn="KmFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="KmFinal"
              class="filter"
              placeholder="Km Final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="KmFinal" />
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="date"
              class="filter"
              placeholder="Fecha"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="date" />
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-preventivo>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ preventivo.machineCenter }}</td>
        <td>{{ preventivo.subfamily }}</td>
        <td>{{ preventivo.machinery }}</td>
        <td>{{ preventivo.level }}</td>
        <td>{{ preventivo.position }}</td>
        <td>{{ preventivo.horomMaint }}</td>
        <td>{{ preventivo.horomFinal }}</td>
        <td>{{ preventivo.kmMaint }}</td>
        <td>{{ preventivo.kmFinal }}</td>
        <td>{{ preventivo.date }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ preventivo.length || 0 }}</p>
</div>
