<div class="Table">
  <p-table
    #dt
    [value]="stock"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="centerName">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centerName"
              class="filter"
              placeholder="Centro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centerName" />
          </div>
        </th>
        <th pSortableColumn="nameMaterialReference">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="nameMaterialReference"
              placeholder="Material"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="nameMaterialReference" />
          </div>
        </th>
        <th pSortableColumn="descriptionMaterialReference">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="descriptionMaterialReference"
              placeholder="Referencia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="descriptionMaterialReference" />
          </div>
        </th>
        <th pSortableColumn="quantity">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="quantity"
              placeholder="Cantidad"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="quantity" />
          </div>
        </th>
        <th pSortableColumn="amount">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="amount"
              placeholder="Importe"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="amount" />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency"
              placeholder="Divisa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency" />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ stock.centerName }}</td>
        <td>{{ stock.nameMaterialReference }}</td>
        <td>{{ stock.descriptionMaterialReference }}</td>
        <td>{{ stock.quantity }}</td>
        <td>{{ stock.amount }}</td>
        <td>{{ stock.currency }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ stock.length || 0 }}</p>
</div>
