<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="stock"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="centro.grupoCentro.nombre">
          <div>
            <p-sortIcon class="order" field="centro.grupoCentro.nombre" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="centro.grupoCentro.nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="referenciaMaterial.codigoCategoria ">
          <div>
            <p-sortIcon class="order" field="referenciaMaterial.codigoCategoria " />
            Material
            <p-columnFilter
              class="filter"
              type="text"
              field="referenciaMaterial.codigoCategoria "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="referenciaMaterial.descripcion">
          <div>
            <p-sortIcon class="order" field="referenciaMaterial.descripcion" />
            Descripción
            <p-columnFilter
              class="filter"
              type="text"
              field="referenciaMaterial.descripcion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="cantidad">
          <div>
            <p-sortIcon class="order" field="cantidad" />
            Cantidad
            <p-columnFilter
              class="filter"
              type="text"
              field="cantidad"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="valor">
          <div>
            <p-sortIcon class="order" field="valor" />
            Importe
            <p-columnFilter
              class="filter"
              type="text"
              field="valor"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="codMoneda">
          <div>
            <p-sortIcon class="order" field="codMoneda" />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="codMoneda"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-stock>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(stock)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(stock)"/>
        </td>
        <td>{{ stock.centro.grupoCentro.nombre }}</td>
        <td>{{ stock.referenciaMaterial.codigoCategoria }}</td>
        <td>{{ stock.referenciaMaterial.descripcion }}</td>
        <td>{{ stock.cantidad }}</td>
        <td>{{ stock.valor }}</td>
        <td>{{ stock.codMoneda }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ stock.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
