<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="cambioCentro"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="selected">
          <div>
            <p-sortIcon class="order" field="selected" />
            Seleccionado
            <p-columnFilter
              type="text"
              field="selected"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="machineryTuition">
          <div>
            <p-sortIcon class="order" field="machineryTuition" />
            Matrícula Maquinaria
            <p-columnFilter
              type="text"
              field="machineryTuition"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="centerCode">
          <div>
            <p-sortIcon class="order" field="centerCode" />
            Código Centro
            <p-columnFilter
              type="text"
              field="centerCode"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="centerName">
          <div>
            <p-sortIcon class="order" field="centerName" />
            Nombre Centro
            <p-columnFilter
              type="text"
              field="centerName"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="destinationCenterCode">
          <div>
            <p-sortIcon class="order" field="destinationCenterCode" />
            Código centro destino
            <p-columnFilter
              type="text"
              field="destinationCenterCode"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="destinationCenterName">
          <div>
            <p-sortIcon class="order" field="destinationCenterName" />
            Nombre centro destino
            <p-columnFilter
              type="text"
              field="destinationCenterName"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-cambioCentro>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>
          <i class="fas fa-trash"></i>
        </td>
        <td>{{ cambioCentro.selected }}</td>
        <td>{{ cambioCentro.machineryTuition }}</td>
        <td>{{ cambioCentro.centerCode }}</td>
        <td>{{ cambioCentro.centerName }}</td>
        <td>{{ cambioCentro.destinationCenterCode }}</td>
        <td>{{ cambioCentro.destinationCenterName }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ cambioCentro.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
