<body>
  <hr class="hr-1" />
  <form>
    <div class="form-row">
      <div class="form-group">
        <label>Código centro</label>
        <p-inputNumber
          class="input-form"
          id="codigo-centro"
          formControlName="codigo-centro"
        />
      </div>

      <div class="form-group">
        <label>Nombre centro</label>
        <input
          class="input-form"
          id="nombre-centro"
          type="text"
          pInputText
          formControlName="nombre-centro"
        />
      </div>
    </div>

    <div class="form-row-2">
      <div class="form-group-2">
        <label>Nombre referencia material</label>
        <input
          class="input-form"
          id="nombre-referencia-material"
          pInputText
          formControlName="referencia-material"
        />
      </div>

      <div class="form-group-2">
        <label>Descripción referencia material</label>
        <input
          class="input-form"
          id="descripcion-referencia-material"
          pInputText
          formControlName="descripcion-referencia"
        />
      </div>

      <div class="form-group-2">
        <label>Importe</label>
        <p-inputNumber
          mode="currency"
          inputId="Importe"
          currency="EUR"
          locale="de-DE"
          class="input-form"
          id="importe"
          formControlName="importe"
        />
      </div>
    </div>

    <div class="form-buttons">
      <div class="form-button">
        <button class="limpiar">Limpiar búsqueda</button>
      </div>

      <div class="form-button">
        <button class="buscar">Buscar</button>
      </div>

      <div class="form-button">
        <button class="recalculo">Recálculo de Stock</button>
      </div>
    </div>
  </form>

  <hr />

  <!-- Tabla -->
  <h1>Stock</h1>
  <div class="card">
    <p-table
      [value]="centros || []"
      dataKey="id"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="nombre" style="width: 16.66%">
            Nombre centro <p-sortIcon class="orden" field="nombre" />
          </th>
          <th pSortableColumn="nombreReferencia" style="width: 16.66%">
            Nombre referencia material
            <p-sortIcon class="orden" field="nombreReferencia" />
          </th>
          <th pSortableColumn="descripcion" style="width: 16.66">
            Descripcion referencia material
            <p-sortIcon class="orden" field="descripcion" />
          </th>
          <th pSortableColumn="cantidad" style="width: 16.66%">
            Cantidad <p-sortIcon class="orden" field="cantidad" />
          </th>
          <th pSortableColumn="Importe" style="width: 16.66%">
            Importe <p-sortIcon class="orden" field="Importe" />
          </th>
          <th pSortableColumn="Divisa" style="width: 16.66%">
            Divisa <p-sortIcon class="orden" field="Divisa" />
          </th>
        </tr>
        <tr>
          <th>
            <p-columnFilter
              type="text"
              field="code"
              [showClearButton]="false"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="name"
              [showClearButton]="false"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="quantity"
              [showClearButton]="false"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="price"
              [showClearButton]="false"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="price"
              [showClearButton]="false"
            />
          </th>
          <th>
            <p-columnFilter
              type="text"
              field="price"
              [showClearButton]="false"
            />
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-centros>
        <tr class="body-table">
          <td>{{ centros.nombre }}</td>
          <td>{{ centros.nombreReferencia }}</td>
          <td>{{ centros.descripcion }}</td>
          <td>{{ centros.cantidad }}</td>
          <td>{{ centros.importe }}</td>
          <td>{{ centros.divisa }}</td>
        </tr>
      </ng-template>
    </p-table>
    <p>Resultado totales:  {{ centros?.length || 0 }}</p>
  </div>

</body>
