<form>
  <div class="form-row">
    <div class="form-group">
      <label>Centro</label>
      <input
        class="input-form"
        id="centro"
        type="text"
        pInputText
        formControlName="centro"
      />
    </div>

    <div class="form-group">
      <label>Nombre centro</label>
      <input
        class="input-form"
        id="nombre-centro"
        type="text"
        pInputText
        [disabled]="true"
        formControlName="nombre-centro"
      />
    </div>
  </div>

  <div class="form-row2">
    <div class="form-group-2">
      <label>Familia</label>
      <input
        class="input-form"
        id="Familia"
        pInputText
        formControlName="Familia"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Maquinaria</label>
      <input
        class="input-form"
        id="maquinaria"
        pInputText
        formControlName="maquinaria"
      />
    </div>

    <div class="form-group">
      <label>Bastidor</label>
      <input
        class="input-form"
        id="maquinaria"
        pInputText
        formControlName="maquinaria"
      />
    </div>
  </div>

  <div class="form-row">
    <div class="form-group">
      <label>Fecha desde</label>
      <p-calendar
        placeholder="mm/dd/yyyy"
        class="input-form"
        id="fecha"
        [showIcon]="true"
        inputId="icondisplay"
        formControlName="fechaDesde"
      />
    </div>

    <div class="form-group">
      <label>Fecha hasta</label>
      <p-calendar
        placeholder="mm/dd/yyyy"
        class="input-form"
        id="fecha"
        [showIcon]="true"
        inputId="icondisplay"
        formControlName="fechaDesde"
      />
    </div>
  </div>
  <div class="form-buttons">
    <div class="form-button">
      <p-button
        type="reset"
        label="Limpiar búsqueda"
        [raised]="true"
        severity="secondary"
        class="limpiar"
      ></p-button>
    </div>

    <div class="form-button">
      <p-button type="button" label="Buscar" [raised]="true"></p-button>
    </div>
  </div>
</form>
<hr />
