<div class="Table">
  <p-table
    #dt
    [value]="itvs"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="machinery">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machinery"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machinery" />
          </div>
        </th>

        <th pSortableColumn="centre">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centre"
              class="filter"
              placeholder="Centro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centre" />
          </div>
        </th>
        <th pSortableColumn="delegation">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="delegation"
              class="filter"
              placeholder="Delegacion"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="delegation" />
          </div>
        </th>
        <th pSortableColumn="family">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="family"
              class="filter"
              placeholder="Familia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="family" />
          </div>
        </th>
        <th pSortableColumn="subfamily">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="subfamily"
              class="filter"
              placeholder="Subfamilia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="subfamily" />
          </div>
        </th>
        <th pSortableColumn="nextDate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="nextDate"
              class="filter"
              placeholder="Fecha próxima"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="nextDate" />
          </div>
        </th>
        <th pSortableColumn="comments">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="comments"
              class="filter"
              placeholder="Comentarios"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="comments" />
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-itvs>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ itvs.machinery }}</td>
        <td>{{ itvs.centre }}</td>
        <td>{{ itvs.delegation }}</td>
        <td>{{ itvs.family }}</td>
        <td>{{ itvs.subfamily }}</td>
        <td>{{ itvs.nextDate }}</td>
        <td>{{ itvs.comments }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="4">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ itvs.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
