@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --color-primary: #172d55;
  --color-secondary: #68acd1;
  --color-background-grey: #eaeaea;
}

body {
  margin: 0px;
}