@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

:root {
  --color-primary: #172d55;
  --color-secondary: #68acd1;
  --color-background-grey: #eaeaea;
}

body {
  margin: 0px;
}

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}


::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  width: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mapboxgl-ctrl-group{
  filter: invert(1);
}


.Filter{
  background: red;
  display: flex;
  flex-direction: row;
  margin:0px 20px;
  >fieldset{
    border:none;
    display: flex;
    padding: 0;
    margin:0;
    >legend{
      font-size: 11px;
    }
    >input{
      border: none;
      padding: 0;
      margin: 0;
      background-color: blue;
    }
  }
}

/* TODO REMOVE THIS IN PRO */
.mapboxgl-ctrl-bottom-left{
  display: none;
}

.mapboxgl-ctrl-attrib{
  display: none;
}

.Table{
  margin-left: 20px;
  box-shadow: 0px 10px 120px rgba(0,0,0,0.2);
border-radius: 5px;
overflow: hidden;
    margin-right: 20px;
  table {
      width: 100%;
    border-collapse: collapse;
    thead{
     th{
      border-right: 1px solid #ddd !important;
      font-size: 11px;
      padding: 0 !important;
      background-color: #fff;
      position: relative;
      border-bottom: 1px solid #ddd;
      input{
        padding: 10px;
        outline: none;
        display: flex;
        background-color: transparent !important;
        border-radius: 0;
        border: none;
        font-size: 11px;
      }
      .order{
        position: absolute;
        top: 7px;
        right: 7px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 10px;
        background-color: #3bad2d;
        border-radius: 50%;
        svg{
          width: 10px;
          height: 10px;
          fill: #fff;
        }
      }
      .p-column-filter-menu-button{
        position: absolute;
        top: -22px;
        right: 35px;
        height: 20px;
        width: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #fff;
        font-size: 10px;
        background-color: rgba(0,0,0,0.5);
        border-radius: 50%;
        svg{
          width: 10px;
          height: 10px;
          fill: #fff;
        }
      }
     }
    }
    th:nth-child(2){

    }
    tr td:first-child{
      width: 30px; min-width: 30px;
      padding: 0 !important;
      margin: 0 !important;
      position: relative;
      i{
        justify-content: center;
        align-items: center;
        display: flex;
        position: absolute;
        top: 2px;
        bottom:2px; right: 2px;
        left: 2px;
        font-size: 17px;
        background-color: #3cad2d1f;
        border:1px solid #3cad2d48;
        color: #3cad2d;
        border-radius: 5px;
      }
      
    }
    td{
        border-right: 1px solid #ddd;
      max-width: 200px;
      min-width: 100px;
      font-size: 13px;
      padding: 7px;
      padding-left: 12px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    tr:nth-child(even){
      

     td{
      background-color: #eeeeee;
     
     }
    }
  }
  
}