<body>
  <!-- TABLA DE DATOS -->
  <div class="card">
    <p-table
      [value]="gastosTaller || []"
      [tableStyle]="{ 'min-width': '50rem' }"
    >
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="centroProveedor" >
            Centro Proveedor
            <p-sortIcon field="centroProveedor" class="orden" />
          </th>
          <th pSortableColumn="delegación" >
            Delegación <p-sortIcon field="delegacion" class="orden" />
          </th>
          <th pSortableColumn="fecha" >
            Fecha <p-sortIcon field="fecha" class="orden" />
          </th>
          <th pSortableColumn="proveedor" >
            Proveedor <p-sortIcon field="proveedor" class="orden" />
          </th>
          <th pSortableColumn="importe" >
            Importe <p-sortIcon field="importe" class="orden" />
          </th>
          <th pSortableColumn="divisa" >
            Divisa<p-sortIcon field="divisa" class="orden" />
          </th>
          <th pSortableColumn="referencia-material" >
            Referencia Material<p-sortIcon
              field="referencia-material"
              class="orden"
            />
          </th>
          <th pSortableColumn="descrp-ref-material" >
            Descripción refrencia material<p-sortIcon
              field="descrp-ref-material"
              class="orden"
            />
          </th>
          <th pSortableColumn="cantidad" >
            Cantidad<p-sortIcon field="cantidad" class="orden" />
          </th>
          <th pSortableColumn="gasto-conmutable" >
            Gasto conmutable<p-sortIcon
              field="gasto-conmutable"
              class="orden"
            />
          </th>
          <th pSortableColumn="descripcion" >
            Descripción<p-sortIcon field="descripcion" class="orden" />
          </th>
          <th pSortableColumn="albaran" >
            Albarán<p-sortIcon field="albaran" class="orden" />
          </th>
          <th pSortableColumn="archivo" >
            Archivo<p-sortIcon field="archivo" class="orden" />
          </th>
          <th pSortableColumn="reload" >nube</th>
          <th pSortableColumn="reload" >Reload</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gastosTaller>
        <tr class="body-table">
          <td>{{ gastosTaller.centroProveedor }}</td>
          <td>{{ gastosTaller.delegacion }}</td>
          <td>{{ gastosTaller.fecha }}</td>
          <td>{{ gastosTaller.importe }}</td>
          <td>{{ gastosTaller.proveedor }}</td>
          <td>{{ gastosTaller.divisa }}</td>
          <td>{{ gastosTaller.referenciaMaterial }}</td>
          <td>{{ gastosTaller.descripcionRefMaterial }}</td>
          <td>{{ gastosTaller.cantidad }}</td>
          <td>{{ gastosTaller.gastoConmutable }}</td>
          <td>{{ gastosTaller.descripcion }}</td>
          <td>{{ gastosTaller.albaran }}</td>
          <td>{{ gastosTaller.archivo }}</td>
          <td></td>
          <td><img />Basura</td>
        </tr>
      </ng-template>
    </p-table>
    <p>Resultado totales: {{ gastosTaller?.length || 0 }}</p>
  </div>
</body>
