<div class="Table">
  <p-table
    #dt
    [value]="tasas"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="dateFrom">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="dateFrom"
              class="filter"
              placeholder="Fecha desde"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="dateFrom" />
          </div>
        </th>
        <th pSortableColumn="dateUntil">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="dateUntil"
              class="filter"
              placeholder="Fecha hasta"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="dateUntil" />
          </div>
        </th>
        <th pSortableColumn="machineCentre">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machineCentre"
              class="filter"
              placeholder="Centro Máquina"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machineCentre" />
          </div>
        </th>
        <th pSortableColumn="subFamily">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="subFamily"
              class="filter"
              placeholder="Subfamilia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="subFamily" />
          </div>
        </th>
        <th pSortableColumn="tuition">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="tuition"
              class="filter"
              placeholder="Matrícula"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="tuition" />
          </div>
        </th>
        <th pSortableColumn="frame">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="frame"
              class="filter"
              placeholder="Bastidor"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="frame" />
          </div>
        </th>
        <th pSortableColumn="totalRate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="totalRate"
              class="filter"
              placeholder="Tasa total"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="totalRate" />
          </div>
        </th>
        <th pSortableColumn="chassisRate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="chassisRate"
              class="filter"
              placeholder="Tasa chasis"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="chassisRate" />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency"
              class="filter"
              placeholder="Divisa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency" />
          </div>
        </th>
        <th pSortableColumn="implement1">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="implement1"
              class="filter"
              placeholder="Implemento 1"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="implement1" />
          </div>
        </th>
        <th pSortableColumn="rate1">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="rate1"
              class="filter"
              placeholder="Tasa 1"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="rate1" />
          </div>
        </th>
        <th pSortableColumn="currency1">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency1"
              class="filter"
              placeholder="Divisa 1"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency1" />
          </div>
        </th>
        <th pSortableColumn="implement2">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="implement2"
              class="filter"
              placeholder="Implemento 2"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="implement2" />
          </div>
        </th>
        <th pSortableColumn="rate2">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="rate2"
              class="filter"
              placeholder="Tasa 2"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="rate2" />
          </div>
        </th>
        <th pSortableColumn="currency2">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency2"
              class="filter"
              placeholder="Divisa 2"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency2" />
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tasas>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ tasas.dateFrom }}</td>
        <td>{{ tasas.dateUntil }}</td>
        <td>{{ tasas.machineCentre }}</td>
        <td>{{ tasas.subFamily }}</td>
        <td>{{ tasas.tuition }}</td>
        <td>{{ tasas.frame }}</td>
        <td>{{ tasas.totalRate }}</td>
        <td>{{ tasas.chassisRate }}</td>
        <td>{{ tasas.currency }}</td>
        <td>{{ tasas.implement1 }}</td>
        <td>{{ tasas.rate1 }}</td>
        <td>{{ tasas.currency1 }}</td>
        <td>{{ tasas.implement2 }}</td>
        <td>{{ tasas.rate2 }}</td>
        <td>{{ tasas.currency2 }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ tasas.length || 0 }}</p>

</div>
