<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="tasas"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="dateFrom">
          <div>
            <p-sortIcon class="order" field="dateFrom" />
            Desde
            <p-columnFilter
              class="filter"
              type="text"
              field="dateFrom"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="dateUntil">
          <div>
            <p-sortIcon class="order" field="dateUntil" />
            Desde
            <p-columnFilter
              class="filter"
              type="text"
              field="dateUntil"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="machineCentre">
          <div>
            <p-sortIcon class="order" field="machineCentre" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="machineCentre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="subFamily">
          <div>
            <p-sortIcon class="order" field="subFamily" />
            SubFamilia
            <p-columnFilter
              class="filter"
              type="text"
              field="subFamily"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="tuition">
          <div>
            <p-sortIcon class="order" field="tuition" />
            Matricula
            <p-columnFilter
              class="filter"
              type="text"
              field="tuition"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="frame">
          <div>
            <p-sortIcon class="order" field="frame" />
            Bastidor
            <p-columnFilter
              class="filter"
              type="text"
              field="frame"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="totalRate">
          <div>
            <p-sortIcon class="order" field="totalRate" />
            Total Rate
            <p-columnFilter
              class="filter"
              type="text"
              field="totalRate"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="chassisRate">
          <div>
            <p-sortIcon class="order" field="chassisRate" />
            Chasis Rate
            <p-columnFilter
              class="filter"
              type="text"
              field="chassisRate"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency">
          <div>
            <p-sortIcon class="order" field="currency" />
            Currency
            <p-columnFilter
              class="filter"
              type="text"
              field="currency"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="implement1">
          <div>
            <p-sortIcon class="order" field="implement1" />
            Implement1
            <p-columnFilter
              class="filter"
              type="text"
              field="implement1"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="rate1">
          <div>
            <p-sortIcon class="order" field="rate1" />
            Rate1
            <p-columnFilter
              class="filter"
              type="text"
              field="rate1"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency1">
          <div>
            <p-sortIcon class="order" field="currency1" />
            Currency1
            <p-columnFilter
              class="filter"
              type="text"
              field="currency1"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="implement2">
          <div>
            <p-sortIcon class="order" field="implement2" />
            Implement2
            <p-columnFilter
              class="filter"
              type="text"
              field="implement2"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="rate2">
          <div>
            <p-sortIcon class="order" field="rate2" />
            Rate2
            <p-columnFilter
              class="filter"
              type="text"
              field="rate2"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency2">
          <div>
            <p-sortIcon class="order" field="currency2" />
            Currency2
            <p-columnFilter
              class="filter"
              type="text"
              field="currency2"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tasas>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="edit(tasas)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(tasas)"/>
        </td>
        <td>{{ tasas.dateFrom  | date : "dd/MM/yyyy"}}</td>
        <td>{{ tasas.dateUntil | date : "dd/MM/yyyy" }}</td>
        <td>{{ tasas.machineCentre }}</td>
        <td>{{ tasas.subFamily }}</td>
        <td>{{ tasas.tuition }}</td>
        <td>{{ tasas.frame }}</td>
        <td>{{ tasas.totalRate }}</td>
        <td>{{ tasas.chassisRate }}</td>
        <td>{{ tasas.currency }}</td>
        <td>{{ tasas.implement1 }}</td>
        <td>{{ tasas.rate1 }}</td>
        <td>{{ tasas.currency1 }}</td>
        <td>{{ tasas.implement2 }}</td>
        <td>{{ tasas.rate2 }}</td>
        <td>{{ tasas.currency2 }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="17">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ tasas.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
