<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="partes"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
  <ng-template pTemplate="header">
    <tr>
      <th></th>
      <th></th>
      <th pSortableColumn="centerName">
        <div>
          <p-sortIcon class="order" field="centerName" />
          Nombre del centro
          <p-columnFilter
            type="text"
            field="centerName"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="delegation">
        <div>
          <p-sortIcon class="order" field="delegation" />
          Delegación
          <p-columnFilter
            type="text"
            field="delegation"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="tuition">
        <div>
          <p-sortIcon class="order" field="tuition" />
          Matrícula
          <p-columnFilter
            type="text"
            field="tuition"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="name">
        <div>
          <p-sortIcon class="order" field="name" />
          Nombre
          <p-columnFilter
            type="text"
            field="name"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="date">
        <div>
          <p-sortIcon class="order" field="date" />
          Fecha
          <p-columnFilter
            type="text"
            field="date"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="state">
        <div>
          <p-sortIcon class="order" field="state" />
          Estado
          <p-columnFilter
            type="text"
            field="state"
            class="filter"
            display="menu"
          />
        </div>
      </th>
      <th pSortableColumn="maintenanceType">
        <div>
          <p-sortIcon class="order" field="maintenanceType" />
          Tipo de mantenimiento
          <p-columnFilter
            type="text"
            field="maintenanceType"
            class="filter"
            display="menu"
          />
        </div>
      </th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-partes>
    <tr class="body-table">
      <td>
        <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="edit(partes)"/>
      </td>
      <td>
        <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(partes)"/>
      </td>
      <td>{{ partes.centerName }}</td>
      <td>{{ partes.delegation }}</td>
      <td>{{ partes.tuition }}</td>
      <td>{{ partes.name }}</td>
      <td>{{ partes.date }}</td>
      <td>{{ partes.state }}</td>
      <td>{{ partes.maintenanceType }}</td>
    </tr>
  </ng-template>
  <ng-template pTemplate="footer">
    <tr>
      <td colspan="9">
        <div class="pl-2">
          Resultado totales:
          <span class="font-bold">{{ partes.length || 0 }}</span>
        </div>
      </td>
    </tr>
  </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
