<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="tasasCentro"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="seguro.fechaInicio ">
          <div>
            <p-sortIcon class="order" field="seguro.fechaInicio " />
            Desde
            <p-columnFilter
              class="filter"
              type="text"
              field="seguro.fechaInicio "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="seguro.fechaFin ">
          <div>
            <p-sortIcon class="order" field="seguro.fechaFin " />
            Desde
            <p-columnFilter
              class="filter"
              type="text"
              field="seguro.fechaFin "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="empresa.nombre ">
          <div>
            <p-sortIcon class="order" field="empresa.nombre " />
            Delegación
            <p-columnFilter
              class="filter"
              type="text"
              field="empresa.nombre "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="empresa.codigo">
          <div>
            <p-sortIcon class="order" field="empresa.codigo" />
            Codigo
            <p-columnFilter
              class="filter"
              type="text"
              field="empresa.codigo"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="servicio ">
          <div>
            <p-sortIcon class="order" field="servicio " />
            Nombre
            <p-columnFilter
              class="filter"
              type="text"
              field="servicio "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="impuesto.importe">
          <div>
            <p-sortIcon class="order" field="impuesto.importe" />
            Coste
            <p-columnFilter
              class="filter"
              type="text"
              field="impuesto.importe"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="codMoneda">
          <div>
            <p-sortIcon class="order" field="codMoneda" />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="codMoneda"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-tasasCentro>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(tasasCentro)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(tasasCentro)"/>
        </td>
        <td>{{ tasasCentro.maquinaria.seguro.fechaInicio }}</td>
        <td>{{ tasasCentro.maquinaria.seguro.fechaFin }}</td>
        <td>{{ tasasCentro.maquinaria.empresa.nombre }}</td>
        <td>{{ tasasCentro.maquinaria.empresa.codigo }}</td>
        <td>{{ tasasCentro.maquinaria.servicio }}</td>
        <td>{{ tasasCentro.maquinaria.impuesto.importe }}</td>
        <td>{{ tasasCentro.maquinaria.codMoneda }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="9">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ tasasCentro.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
