<body>
  <!-- TABLA DE DATOS -->
  <div class="card">
    <p-table [value]="gnc || []" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="maquinaria" >
            Maquinaria <p-sortIcon field="maquinaria" class="orden" />
          </th>
          <th pSortableColumn="nombrecentro" >
           Nombre centro <p-sortIcon field="nombrecentro" class="orden" />
          </th>
          <th pSortableColumn="delegacion" >
            Delegación <p-sortIcon field="delegacion" class="orden" />
          </th>
          <th pSortableColumn="familia" >
            Familia <p-sortIcon field="familia" class="orden" />
          </th>
          <th pSortableColumn="subfamilia" >
            Subfamilia <p-sortIcon field="subfamilia" class="orden" />
          </th>
          <th pSortableColumn="fechaproxima" >
            Fecha próxima <p-sortIcon field="fechaproxima" class="orden" />
          </th>
          <th pSortableColumn="nube" ></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gnc >
        <tr class="body-table">
          <td>{{ gnc.maquinaria }}</td>
          <td>{{ gnc.nombrecentro }}</td>
          <td>{{ gnc.delegacion }}</td>
          <td>{{ gnc.familia }}</td>
          <td>{{ gnc.subfamilia }}</td>
          <td>{{ gnc.fechaproxima }}</td>
          <td>nube</td>
        </tr>
      </ng-template>
    </p-table>
    <p>Resultado totales: {{ gnc?.length || 0 }}</p>
  </div>
</body>

