<body>
  <!-- TABLA DE DATOS -->
  <div class="card">
    <!-- <p-table [value]="gruas || []" [tableStyle]="{ 'min-width': '50rem' }"> -->
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="maquinaria" style="width: 19.3%">
            Maquinaria <p-sortIcon field="maquinaria" class="orden" />
          </th>
          <th pSortableColumn="centro" style="width: 19.3%">
            Centro <p-sortIcon field="centro" class="orden" />
          </th>
          <th pSortableColumn="familia" style="width: 19.3%">
            Familia <p-sortIcon field="familia" class="orden" />
          </th>
          <th pSortableColumn="subfamilia" style="width: 19.3%">
            Subfamilia <p-sortIcon field="subfamilia" class="orden" />
          </th>
          <th pSortableColumn="fechaproxima" style="width: 19.3%">
            Fecha próxima <p-sortIcon field="fechaproxima" class="orden" />
          </th>
          <th pSortableColumn="reload" style="width: 3.5%">Reload</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gruas | filtrogruas>
        <tr class="body-table">
          <td>{{ gruas.maquinaria }}</td>
          <td>{{ gruas.centro }}</td>
          <td>{{ gruas.familia }}</td>
          <td>{{ gruas.subfamilia }}</td>
          <td>{{ gruas.fechaproxima }}</td>
          <td><img />Basura</td>
        </tr>
      </ng-template>
    <!-- </p-table> -->
    <!-- <p>Resultado totales: {{ gruas?.length || 0 }}</p> -->
  </div>
</body>

