<div class="col-12 km-table-valoriza-app">
  <p-table
    [value]="nivelesAccion"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="action">
          <div>
            <p-sortIcon class="order" field="action" />
            Acción
            <p-columnFilter
              class="filter"
              type="text"
              field="action"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="group">
          <div>
            <p-sortIcon class="order" field="group" />
            Grupo
            <p-columnFilter
              class="filter"
              type="text"
              field="group"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-nivelesAccion>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(nivelesAccion)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(nivelesAccion)"/>
        </td>
        <td>{{ nivelesAccion.action }}</td>
        <td>{{ nivelesAccion.group }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ nivelesAccion.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
