<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="gastosTaller"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="proveedor.empresa.nombre">
          <div>
            <p-sortIcon class="order" field="proveedor.empresa.nombre" />
            Centro proveedor
            <p-columnFilter
              class="filter"
              type="text"
              field="proveedor.empresa.nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="empresa.nombre ">
          <div>
            <p-sortIcon class="order" field="empresa.nombre " />
            Delegación
            <p-columnFilter
              class="filter"
              type="text"
              field="empresa.nombre "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              class="filter"
              type="text"
              field="fecha"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="proveedor.nombre ">
          <div>
            <p-sortIcon class="order" field="proveedor.nombre " />
            Proveedor
            <p-columnFilter
              class="filter"
              type="text"
              field="proveedor.nombre "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="importe">
          <div>
            <p-sortIcon class="order" field="importe" />
            Importe
            <p-columnFilter
              class="filter"
              type="text"
              field="importe"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="codMoneda">
          <div>
            <p-sortIcon class="order" field="codMoneda" />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="codMoneda"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="idReferenciaMaterial">
          <div>
            <p-sortIcon class="order" field="idReferenciaMaterial" />
            Material Ref.
            <p-columnFilter
              class="filter"
              type="text"
              field="idReferenciaMaterial"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="descripcion">
          <div>
            <p-sortIcon class="order" field="descripcion" />
            Description Ref.
            <p-columnFilter
              class="filter"
              type="text"
              field="descripcion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="cantidad">
          <div>
            <p-sortIcon class="order" field="cantidad" />
            Cantidad
            <p-columnFilter
              class="filter"
              type="text"
              field="cantidad"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="gastoConmutable">
          <div>
            <p-sortIcon class="order" field="gastoConmutable" />
            Gasto conmutable
            <p-columnFilter
              class="filter"
              type="text"
              field="gastoConmutable"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="descripcion">
          <div>
            <p-sortIcon class="order" field="descripcion" />
            Descripción
            <p-columnFilter
              class="filter"
              type="text"
              field="descripcion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="factura">
          <div>
            <p-sortIcon class="order" field="factura" />
            Albarán
            <p-columnFilter
              class="filter"
              type="text"
              field="factura"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="file">
          <div>
            <p-sortIcon class="order" field="file" />
            Archivo
            <p-columnFilter
              class="filter"
              type="text"
              field="file"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gastosTaller>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(gastosTaller)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(gastosTaller)"/>
        </td>
        <td>{{ gastosTaller.proveedor.empresa.nombre }}</td>
        <td>{{ gastosTaller.empresa.nombre  }}</td>
        <td>{{ gastosTaller.fecha }}</td>
        <td>{{ gastosTaller.proveedor.nombre }}</td>
        <td>{{ gastosTaller.importe }}</td>
        <td>{{ gastosTaller.codMoneda }}</td>
        <td>{{ gastosTaller.idReferenciaMaterial }}</td>
        <td>{{ gastosTaller.descripcion }}</td>
        <td>{{ gastosTaller.cantidad }}</td>
        <td>{{ gastosTaller.gastoConmutable }}</td>
        <td>{{ gastosTaller.descripcion }}</td>
        <td>{{ gastosTaller.factura }}</td>
        <td>{{ gastosTaller }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ gastosTaller.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
