<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="gastosTaller"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="centerProvider">
          <div>
            <p-sortIcon class="order" field="centerProvider" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="centerProvider"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="delegation">
          <div>
            <p-sortIcon class="order" field="delegation" />
            Delegación
            <p-columnFilter
              class="filter"
              type="text"
              field="delegation"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="date">
          <div>
            <p-sortIcon class="order" field="date" />
            Fecha
            <p-columnFilter
              class="filter"
              type="text"
              field="date"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="provider">
          <div>
            <p-sortIcon class="order" field="provider" />
            Proveedor
            <p-columnFilter
              class="filter"
              type="text"
              field="provider"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="amount">
          <div>
            <p-sortIcon class="order" field="amount" />
            Importe
            <p-columnFilter
              class="filter"
              type="text"
              field="amount"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency">
          <div>
            <p-sortIcon class="order" field="currency" />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="currency"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="materialReference">
          <div>
            <p-sortIcon class="order" field="materialReference" />
            Material Ref.
            <p-columnFilter
              class="filter"
              type="text"
              field="materialReference"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="descriptionRefMaterial">
          <div>
            <p-sortIcon class="order" field="descriptionRefMaterial" />
            Description Ref.
            <p-columnFilter
              class="filter"
              type="text"
              field="descriptionRefMaterial"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="quantity">
          <div>
            <p-sortIcon class="order" field="quantity" />
            Cantidad
            <p-columnFilter
              class="filter"
              type="text"
              field="quantity"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="switchableCost">
          <div>
            <p-sortIcon class="order" field="switchableCost" />
            switchableCost
            <p-columnFilter
              class="filter"
              type="text"
              field="switchableCost"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="description">
          <div>
            <p-sortIcon class="order" field="description" />
            Descripción
            <p-columnFilter
              class="filter"
              type="text"
              field="description"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="deliveryNote">
          <div>
            <p-sortIcon class="order" field="deliveryNote" />
            Albarán
            <p-columnFilter
              class="filter"
              type="text"
              field="deliveryNote"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="file">
          <div>
            <p-sortIcon class="order" field="file" />
            Archivo
            <p-columnFilter
              class="filter"
              type="text"
              field="file"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-gastosTaller>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(gastosTaller)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(gastosTaller)"/>
        </td>
        <td>{{ gastosTaller.centerProvider }}</td>
        <td>{{ gastosTaller.delegation }}</td>
        <td>{{ gastosTaller.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ gastosTaller.provider }}</td>
        <td>{{ gastosTaller.amount }}</td>
        <td>{{ gastosTaller.currency }}</td>
        <td>{{ gastosTaller.materialReference }}</td>
        <td>{{ gastosTaller.descriptionRefMaterial }}</td>
        <td>{{ gastosTaller.quantity }}</td>
        <td>{{ gastosTaller.switchableCost }}</td>
        <td>{{ gastosTaller.description }}</td>
        <td>{{ gastosTaller.deliveryNote }}</td>
        <td>{{ gastosTaller.file }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="15">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ gastosTaller.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
