<div class="col-12 km-table-valoriza-app">
  <p-table 
    #dt
    [value]="proveedores"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
    >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="docIdentificacion">
          <div>
            <p-sortIcon class="order" field="docIdentificacion" />
            Doc. Identificación
            <p-columnFilter
              type="text"
              field="docIdentificacion"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="nombre">
          <div>
            <p-sortIcon class="order" field="nombre" />
            Nombre
            <p-columnFilter
              type="text"
              field="nombre"
              class="filter"
             display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="direccion">
          <div>
            <p-sortIcon class="order" field="direccion" />
            Dirección
            <p-columnFilter
              type="text"
              field="direccion"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="telefono">
          <div>
            <p-sortIcon class="order" field="telefono" />
            Teléfono
            <p-columnFilter
              type="text"
              field="telefono"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="comentarios">
          <div>
            <p-sortIcon class="order" field="comentarios" />
            Comentarios
            <p-columnFilter
              type="text"
              field="comentarios"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="sap">
          <div>
            <p-sortIcon class="order" field="sap" />
            SAP
            <p-columnFilter
              type="text"
              field="sap"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proveedores>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(proveedores)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(proveedores)"/>
        </td>
        <td>{{ proveedores.docIdentificacion }}</td>
        <td>{{ proveedores.nombre }}</td>
        <td>{{ proveedores.direccion }}</td>
        <td>{{ proveedores.telefono }}</td>
        <td>{{ proveedores.comentarios }}</td>
        <td>{{ proveedores.sap }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ proveedores.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
