<div class="col-12 km-table-valoriza-app">
  <p-table 
    #dt
    [value]="proveedores"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
    >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="DocIdentification">
          <div>
            <p-sortIcon class="order" field="DocIdentification" />
            Doc. Identificación
            <p-columnFilter
              type="text"
              field="DocIdentification"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="name">
          <div>
            <p-sortIcon class="order" field="name" />
            Nombre
            <p-columnFilter
              type="text"
              field="name"
              class="filter"
             display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="address">
          <div>
            <p-sortIcon class="order" field="address" />
            Dirección
            <p-columnFilter
              type="text"
              field="address"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="phone">
          <div>
            <p-sortIcon class="order" field="phone" />
            Teléfono
            <p-columnFilter
              type="text"
              field="phone"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="comments">
          <div>
            <p-sortIcon class="order" field="comments" />
            Comentarios
            <p-columnFilter
              type="text"
              field="comments"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="SAP">
          <div>
            <p-sortIcon class="order" field="SAP" />
            SAP
            <p-columnFilter
              type="text"
              field="SAP"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-proveedores>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>
          <i class="fas fa-trash"></i>
        </td>
        <td>{{ proveedores.DocIdentification }}</td>
        <td>{{ proveedores.name }}</td>
        <td>{{ proveedores.address }}</td>
        <td>{{ proveedores.phone }}</td>
        <td>{{ proveedores.comments }}</td>
        <td>{{ proveedores.SAP }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ proveedores.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
