body {
  margin: 0;
}

form {
  margin: 0 auto;
  width: 60%;
  margin-bottom: 50px;
}

.form-row1 {
  margin: 0 auto;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  gap: 20px;
}

.form-row1 > *:first-child {
  flex-grow: 1;
}

.form-row1 > *:last-child {
  flex-grow: 9;
  margin-top: 6.5px;
}

.form-group {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-row2 {
  padding: 5px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.form-button {
  margin: 0 20px;
}
