<form>
  <div class="form-row1">
    <div class="form-group">
      <label>Centro</label>
      <input
        class="input-form"
        id="centro"
        type="text"
        pInputText
        formControlName="centro"
      />
    </div>

    <div class="form-row1">
      <div class="form-group">
        <label></label>
        <input
          class="input-form"
          id="centro"
          type="text"
          pInputText
          formControlName="centro"
        />
      </div>
    </div>
  </div>

  <div class="form-row2">
    <div class="form-group">
      <label>Comentario</label>
      <input
        class="input-form"
        id="comentario"
        type="text"
        pInputText
        formControlName="comentario"
      />
    </div>
  </div>

  <div class="form-row1">
    <div class="form-group">
      <label>Nombre</label>
      <input
        class="input-form"
        id="nombre"
        type="text"
        pInputText
        formControlName="nombre"
      />
    </div>
  </div>

  <div class="form-buttons">
    <div class="form-button">
      <p-button
        type="reset"
        label="Limpiar búsqueda"
        [raised]="true"
        severity="secondary"
        class="limpiar"
      ></p-button>
    </div>

    <div class="form-button">
      <p-button type="button" label="Buscar" [raised]="true"></p-button>
    </div>
  </div>
</form>
