<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="depositos"
    [(selection)]="selectDepositos" 
    dataKey="center"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="centro.nombre">
          <div>
            <p-sortIcon class="order" field="centro.nombre" />
            Centro
            <p-columnFilter
              type="text"
              field="centro.nombre"
              class="filter"
              display="menu"/>
          </div>
        </th>
        <th pSortableColumn="descripcion">
          <div>
            <p-sortIcon class="order" field="descripcion" />
            Descripción
            <p-columnFilter
              type="text"
              field="descripcion"
              class="filter"
              display="menu"/>
          </div>
        </th>
        <th pSortableColumn="capacidad">
          <div>
            <p-sortIcon class="order" field="capacidad" />
            Capacidad
            <p-columnFilter
              type="text"
              field="capacidad"
              class="filter"
              display="menu"/>
          </div>
        </th>
        <th class="col-1" pSortableColumn="comun">
          <div>
            <p-sortIcon class="order" field="comun" />
            Común
            <p-columnFilter
              type="text"
              field="comun"
              class="filter"
              display="menu"/>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-depositos>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(depositos)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(depositos)"/>
        </td>
        <td>{{ depositos.centro.nombre }}</td>
        <td>{{ depositos.descripcion }}</td>
        <td>{{ depositos.capacidad }}</td>
        <td class="text-center">
          <!-- TODO: Mostrar el valor comun en el chexkbox -->
          <p-tableCheckbox [value]="depositos.comun"/>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="6">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ depositos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
