<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="depositos"
    [(selection)]="selectDepositos" 
    dataKey="center"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="center">
          <div>
            <p-sortIcon class="order" field="center" />
            Centro
            <p-columnFilter
              type="text"
              field="center"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="description">
          <div>
            <p-sortIcon class="order" field="description" />
            Descripción
            <p-columnFilter
              type="text"
              field="description"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="capacity">
          <div>
            <p-sortIcon class="order" field="capacity" />
            Capacidad
            <p-columnFilter
              type="text"
              field="capacity"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th class="col-1" pSortableColumn="common">
          <div>
            <p-sortIcon class="order" field="common" />
            Común
            <p-columnFilter
              type="text"
              field="common"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-depositos>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(depositos)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(depositos)"/>
        </td>
        <td>{{ depositos.center }}</td>
        <td>{{ depositos.description }}</td>
        <td>{{ depositos.capacity }}</td>
        <td class="text-center"><p-tableCheckbox [value]="depositos" /></td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="6">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ depositos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
