body {
  margin: 0;
}

form {
  margin: 0 auto;
  width: 70%;
}

.form-row2 {
  display: flex;
  gap: 20px;
}

.form-row3 {
  display: flex;
  gap: 20px;
}

.form-row4 {
  display: flex;
  gap: 20px;
}

.form-row5 {
  display: flex;
  gap: 20px;
}

.form-group {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

#nombre-centro {
  background: #eaeaea;
}

.form-row {
  margin: 0 auto;
  width: 70%;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-button {
  margin: 0 20px; /* Espacio entre cada botón */
}

.limpiar {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  width: 200px;
}

.buscar {
  background-color: #72add1;
  border: none;
  color: #fff;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
}
