<!-- TABLA DE DATOS -->
<div class="Table">
  <p-table
    #dt
    [value]="horometrosKilometros || []"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="centroMaquina">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centroMaquina"
              class="filter"
              placeholder="Centro Máquina"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centroMaquina" />
          </div>
        </th>
        <th pSortableColumn="subFamilia">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="subFamilia"
              class="filter"
              placeholder="Subfamilia"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="subFamilia" />
          </div>
        </th>
        <th pSortableColumn="maquinaria">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="maquinaria"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="maquinaria" />
          </div>
        </th>
        <th pSortableColumn="marca">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="marca"
              class="filter"
              placeholder="Marca"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="marca" />
          </div>
        </th>
        <th pSortableColumn="modelo">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="modelo"
              class="filter"
              placeholder="Modelo"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="modelo" />
          </div>
        </th>
        <th pSortableColumn="horometroFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="horometroFinal"
              class="filter"
              placeholder="Horometro final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="horometroFinal" />
          </div>
        </th>
        <th pSortableColumn="kilometroFinal">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="kilometroFinal"
              class="filter"
              placeholder="Kilometro final"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="kilometroFinal" />
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="fecha"
              class="filter"
              placeholder="Fecha"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="fecha" />
          </div>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horonometrosKilometros>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ horonometrosKilometros.centroMaquina }}</td>
        <td>{{ horonometrosKilometros.subFamilia }}</td>
        <td>{{ horonometrosKilometros.maquinaria }}</td>
        <td>{{ horonometrosKilometros.marca }}</td>
        <td>{{ horonometrosKilometros.modelo }}</td>
        <td>{{ horonometrosKilometros.horometroFinal }}</td>
        <td>{{ horonometrosKilometros.kilometroFinal }}</td>
        <td>{{ horonometrosKilometros.fecha }}</td>
        <td><img />reload</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ horometrosKilometros?.length || 0 }}</p>
</div>
