<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="impuestos"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="empresa.nombre">
          <div>
            <p-sortIcon class="order" field="empresa.nombre" />
            Centro
            <p-columnFilter
              type="text"
              field="empresa.nombre"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="direccion">
          <div>
            <p-sortIcon class="order" field="direccion" />
            Dirección
            <p-columnFilter
              type="text"
              field="direccion"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="documentoIdentificativo">
          <div>
            <p-sortIcon class="order" field="documentoIdentificativo" />
            Matrícula
            <p-columnFilter
              type="text"
              field="documentoIdentificativo"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="importe">
          <div>
            <p-sortIcon class="order" field="importe" />
            Impuesto
            <p-columnFilter
              type="text"
              field="importe"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="codMoneda">
          <div>
            <p-sortIcon class="order" field="codMoneda" />
            Divisa
            <p-columnFilter
              type="text"
              field="codMoneda"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              type="text"
              field="fecha"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-impuestos>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(impuestos)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(impuestos)"/>
        </td>
        <td>{{ impuestos.empresa.nombre }}</td>
        <td>{{ impuestos.direccion }}</td>
        <td>{{ impuestos.documentoIdentificativo }}</td>
        <td>{{ impuestos.importe }}</td>
        <td>{{ impuestos.codMoneda }}</td>
        <td>{{ impuestos.fecha }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="8">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ impuestos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
