<div class="Table">
  <p-table [value]="impuestos" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="center">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="center"
              class="filter"
              placeholder="Centro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="center" />
          </div>
        </th>
        <th pSortableColumn="description">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="description"
              class="filter"
              placeholder="Descripción"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="description" />
          </div>
        </th>
        <th pSortableColumn="tuition">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="tuition"
              class="filter"
              placeholder="Matrícula"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="tuition" />
          </div>
        </th>
        <th pSortableColumn="tax">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="tax"
              class="filter"
              placeholder="Impuesto"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="tax" />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency"
              class="filter"
              placeholder="Divisa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency" />
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="date"
              class="filter"
              placeholder="Fecha"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="date" />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-impuestos>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ impuestos.center }}</td>
        <td>{{ impuestos.description }}</td>
        <td>{{ impuestos.tuition }}</td>
        <td>{{ impuestos.tax }}</td>
        <td>{{ impuestos.currency }}</td>
        <td>{{ impuestos.date }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ impuestos.length || 0 }}</p>
</div>
