body {
  margin: 0;
}

form {
  margin: 0 auto;
  width: 70%;
}

.form-row1 {
  display: flex;
}

.form-group1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

#centerdisable,
#maquinariadisable {
  margin-top: 18px;
}

.form-row2 {
  margin: 0 auto;
  display: flex;
  gap: 20px;
}

.form-group2 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row3 {
  display: flex;
  gap: 20px;
}

.form-group3 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-row4 {
  display: flex;
  gap: 20px;
}

.form-group4 {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-bottom: 10px;
  margin-left: 350px;
}

label {
  font-size: 14px;
  font-weight: 700;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-button {
  margin: 0 20px;
}
