body {
  margin: 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.input-form {
  padding: 5px;
  border: 2px solid var(--color-secondary);
}

label {
  font-size: 14px;
  font-weight: 700;
}

#nombre-centro{
  background: #eaeaea;
}

.form-row {
  margin: 0 auto;
  width: 40%;
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.form-row > .form-group:nth-child(-n + 2) {
  flex: 0 0 50%;
  margin-right: 15px;
}

.form-group:last-child {
  margin-right: 0;
}


.form-row-2 {
  margin: 0 auto;
  width: 40%;
  font-size: 14px;
  font-weight: 700;
}

.form-group-2 .input-form {
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.form-button {
  margin: 0 20px; /* Espacio entre cada botón */
}

.limpiar {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  cursor: pointer;
  width: 200px;
}

.buscar {
  background-color: #ced13c;
  border: none;
  color: #fff;
  width: 200px;
  cursor: pointer;
  border-radius: 5px;
  padding: 3px;
}
