<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="ratiosCentro"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="dateDesde">
          <div>
            <p-sortIcon class="order" field="dateDesde" />
            Desde
            <p-columnFilter
              class="filter"
              type="text"
              field="dateDesde"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="dateUntil">
          <div>
            <p-sortIcon class="order" field="dateUntil" />
            Hasta
            <p-columnFilter
              class="filter"
              type="text"
              field="dateUntil"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="centre">
          <div>
            <p-sortIcon class="order" field="centre" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="centre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="repairs">
          <div>
            <p-sortIcon class="order" field="repairs" />
            Reparaciones
            <p-columnFilter
              class="filter"
              type="text"
              field="repairs"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="insurance">
          <div>
            <p-sortIcon class="order" field="insurance" />
            Seguro
            <p-columnFilter
              class="filter"
              type="text"
              field="insurance"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="tax">
          <div>
            <p-sortIcon class="order" field="tax" />
            Impuesto
            <p-columnFilter
              class="filter"
              type="text"
              field="tax"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="Amortization">
          <div>
            <p-sortIcon class="order" field="Amortization" />
            Amortización
            <p-columnFilter
              class="filter"
              type="text"
              field="Amortization"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="financial">
          <div>
            <p-sortIcon class="order" field="financial" />
            Financiero
            <p-columnFilter
              class="filter"
              type="text"
              field="financial"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="rate">
          <div>
            <p-sortIcon class="order" field="rate" />
            Rate
            <p-columnFilter
              class="filter"
              type="text"
              field="rate"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="ratio">
          <div>
            <p-sortIcon class="order" field="ratio" />
            Ratio
            <p-columnFilter
              class="filter"
              type="text"
              field="ratio"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency">
          <div>
            <p-sortIcon class="order" field="currency" />
            Currency
            <p-columnFilter
              class="filter"
              type="text"
              field="currency"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ratiosCentro>
      <tr>
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="edit(ratiosCentro)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(ratiosCentro)"/>
        </td>
        <td>{{ ratiosCentro.dateFrom | date : "dd/MM/yyyy"}}</td>
        <td>{{ ratiosCentro.dateUntil | date : "dd/MM/yyyy" }}</td>
        <td>{{ ratiosCentro.centre }}</td>
        <td>{{ ratiosCentro.repairs }}</td>
        <td>{{ ratiosCentro.insurance }}</td>
        <td>{{ ratiosCentro.tax }}</td>
        <td>{{ ratiosCentro.Amortization }}</td>
        <td>{{ ratiosCentro.financial }}</td>
        <td>{{ ratiosCentro.rate }}</td>
        <td>{{ ratiosCentro.ratio }}</td>
        <td>{{ ratiosCentro.currency }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="14">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ ratiosCentro.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
