<div class="Table">
  <p-table
    #dt
    [value]="ratiosCentro"
    dataKey="id"
    [rowsPerPageOptions]="[5, 10, 20]"
    [tableStyle]="{ width: '100%' }"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="dateFrom">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="dateFrom"
              class="filter"
              placeholder="Fecha desde"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="dateFrom" />
          </div>
        </th>
        <th pSortableColumn="dateUntil">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="dateUntil"
              class="filter"
              placeholder="Fecha hasta"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="dateUntil" />
          </div>
        </th>
        <th pSortableColumn="centre">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centre"
              class="filter"
              placeholder="Centro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centre" />
          </div>
        </th>
        <th pSortableColumn="repairs">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="repairs"
              class="filter"
              placeholder="Repaciones"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="repairs" />
          </div>
        </th>
        <th pSortableColumn="insurance">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="insurance"
              class="filter"
              placeholder="Seguro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="insurance" />
          </div>
        </th>
        <th pSortableColumn="tax">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="tax"
              class="filter"
              placeholder="Impuesto"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="tax" />
          </div>
        </th>
        <th pSortableColumn="Amortization">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="Amortization"
              class="filter"
              placeholder="Amortizaciones"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="Amortization" />
          </div>
        </th>
        <th pSortableColumn="financial">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="financial"
              class="filter"
              placeholder="Financieros"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="financial" />
          </div>
        </th>
        <th pSortableColumn="rate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="rate"
              class="filter"
              placeholder="Tasa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="rate" />
          </div>
        </th>
        <th pSortableColumn="ratio">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="ratio"
              class="filter"
              placeholder="Ratio"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="ratio" />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency"
              class="filter"
              placeholder="Divisa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency" />
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-ratiosCentro>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ ratiosCentro.dateFrom }}</td>
        <td>{{ ratiosCentro.dateUntil }}</td>
        <td>{{ ratiosCentro.centre }}</td>
        <td>{{ ratiosCentro.repairs }}</td>
        <td>{{ ratiosCentro.insurance }}</td>
        <td>{{ ratiosCentro.tax }}</td>
        <td>{{ ratiosCentro.Amortization }}</td>
        <td>{{ ratiosCentro.financial }}</td>
        <td>{{ ratiosCentro.rate }}</td>
        <td>{{ ratiosCentro.ratio }}</td>
        <td>{{ ratiosCentro.currency }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ ratiosCentro.length || 0 }}</p>

</div>
