<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="instalaciones"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="installationCentre">
          <div>
            <p-sortIcon class="order" field="installationCentre" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="installationCentre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="name">
          <div>
            <p-sortIcon class="order" field="name" />
            Nombre
            <p-columnFilter
              class="filter"
              type="text"
              field="name"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>

        <th pSortableColumn="comments">
          <div>
            <p-sortIcon class="order" field="comments" />
            Comentarios
            <p-columnFilter
              class="filter"
              type="text"
              field="comments"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-instalaciones>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(instalaciones)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(instalaciones)"/>
        </td>
        <td>{{ instalaciones.installationCentre }}</td>
        <td>{{ instalaciones.name }}</td>
        <td>{{ instalaciones.comments }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="7">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ instalaciones.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
