<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="seguros"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="center">
          <div>
            <p-sortIcon class="order" field="center" />
            Centro
            <p-columnFilter
              type="text"
              field="center"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="machines">
          <div>
            <p-sortIcon class="order" field="machines" />
            Maquinaria
            <p-columnFilter
              type="text"
              field="machines"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="insuranceCompany">
          <div>
            <p-sortIcon class="order" field="insuranceCompany" />
            Aseguradora
            <p-columnFilter
              type="text"
              field="insuranceCompany"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="state">
          <div>
            <p-sortIcon class="order" field="state" />
            Estado
            <p-columnFilter
              type="text"
              field="state"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="type">
          <div>
            <p-sortIcon class="order" field="type" />
            Tipo
            <p-columnFilter
              type="text"
              field="type"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="numberPoliza">
          <div>
            <p-sortIcon class="order" field="numberPoliza" />
            Nº Póliza
            <p-columnFilter
              type="text"
              field="numberPoliza"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="startDate">
          <div>
            <p-sortIcon class="order" field="startDate" />
            Fecha inicio
            <p-columnFilter
              type="text"
              field="startDate"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="endDate">
          <div>
            <p-sortIcon class="order" field="endDate" />
            Fecha fin
            <p-columnFilter
              type="text"
              field="endDate"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="amount">
          <div>
            <p-sortIcon class="order" field="amount" />
            Importe
            <p-columnFilter
              type="text"
              field="amount"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div>
            <p-sortIcon class="order" field="currency" />
            Divisa
            <p-columnFilter
              type="text"
              field="currency"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="comment">
          <div>
            <p-sortIcon class="order" field="comment" />
            Comentario
            <p-columnFilter
              type="text"
              field="comment"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-seguros>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="edit(seguros)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(seguros)"/>
        </td>
        <td>{{ seguros.center }}</td>
        <td>{{ seguros.machines }}</td>
        <td>{{ seguros.insuranceCompany }}</td>
        <td>{{ seguros.state }}</td>
        <td>{{ seguros.type }}</td>
        <td>{{ seguros.numberPoliza }}</td>
        <td>{{ seguros.startDate }}</td>
        <td>{{ seguros.endDate }}</td>
        <td>{{ seguros.amount }}</td>
        <td>{{ seguros.currency }}</td>
        <td>{{ seguros.comment }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="13">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ seguros.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
