<div class="Table">
  <p-table [value]="seguros || []" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="center">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="center"
              class="filter"
              placeholder="Centro"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="center" />
          </div>
        </th>
        <th pSortableColumn="machines">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machines"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machines" />
          </div>
        </th>
        <th pSortableColumn="aseguradora">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="aseguradora"
              class="filter"
              placeholder="Aseguradora"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="aseguradora" />
          </div>
        </th>
        <th pSortableColumn="state">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="state"
              class="filter"
              placeholder="Estado"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="state" />
          </div>
        </th>
        <th pSortableColumn="type">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="type"
              class="filter"
              placeholder="Tipo"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="type" />
          </div>
        </th>
        <th pSortableColumn="numberPoliza">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="numberPoliza"
              class="filter"
              placeholder="Nº Póliza"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="numberPoliza" />
          </div>
        </th>
        <th pSortableColumn="startDate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="startDate"
              class="filter"
              placeholder="Fecha inicio"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="startDate" />
          </div>
        </th>
        <th pSortableColumn="endDate">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="endDate"
              class="filter"
              placeholder="Fecha fin"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="endDate" />
          </div>
        </th>
        <th pSortableColumn="amount">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="amount"
              class="filter"
              placeholder="Importe"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="amount" />
          </div>
        </th>
        <th pSortableColumn="currency">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="currency"
              class="filter"
              placeholder="Divisa"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="currency" />
          </div>
        </th>
        <th pSortableColumn="comment">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="comment"
              class="filter"
              placeholder="Comentario"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="comment" />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-seguros>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ seguros.center }}</td>
        <td>{{ seguros.machines }}</td>
        <td>{{ seguros.aseguradora }}</td>
        <td>{{ seguros.state }}</td>
        <td>{{ seguros.type }}</td>
        <td>{{ seguros.numberPoliza }}</td>
        <td>{{ seguros.startDate }}</td>
        <td>{{ seguros.endDate }}</td>
        <td>{{ seguros.amount }}</td>
        <td>{{ seguros.currency }}</td>
        <td>{{ seguros.comment }}</td>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ seguros?.length || 0 }}</p>
</div>
