<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="reparaciones"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="repairCentre">
          <div>
            <p-sortIcon class="order" field="repairCentre" />
            Reparación
            <p-columnFilter
              class="filter"
              type="text"
              field="repairCentre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="machinery">
          <div>
            <p-sortIcon class="order" field="machinery" />
            Maquinaria
            <p-columnFilter
              class="filter"
              type="text"
              field="machinery"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="typeAction">
          <div>
            <p-sortIcon class="order" field="typeAction" />
            Tipo Acción
            <p-columnFilter
              class="filter"
              type="text"
              field="typeAction"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="typeMaintenance">
          <div>
            <p-sortIcon class="order" field="typeMaintenance" />
            Tipo Mantenimiento
            <p-columnFilter
              class="filter"
              type="text"
              field="typeMaintenance"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="date">
          <div>
            <p-sortIcon class="order" field="date" />
            Fecha
            <p-columnFilter
              class="filter"
              type="text"
              field="date"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="supplier">
          <div>
            <p-sortIcon class="order" field="supplier" />
            Proveedor
            <p-columnFilter
              class="filter"
              type="text"
              field="supplier"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="deliveryNote">
          <div>
            <p-sortIcon class="order" field="deliveryNote" />
            Albaran
            <p-columnFilter
              class="filter"
              type="text"
              field="deliveryNote"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="cost">
          <div>
            <p-sortIcon class="order" field="cost" />
            Coste
            <p-columnFilter
              class="filter"
              type="text"
              field="cost"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="currency">
          <div>
            <p-sortIcon class="order" field="currency" />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="currency"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="description">
          <div>
            <p-sortIcon class="order" field="description" />
            Descripción
            <p-columnFilter
              class="filter"
              type="text"
              field="description"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reparaciones>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>
          <i class="fas fa-trash"></i>
        </td>
        <td>{{ reparaciones.repairCentre }}</td>
        <td>{{ reparaciones.machinery }}</td>
        <td>{{ reparaciones.typeAction }}</td>
        <td>{{ reparaciones.typeMaintenance }}</td>
        <td>{{ reparaciones.date | date : "dd/MM/yyyy" }}</td>
        <td>{{ reparaciones.supplier }}</td>
        <td>{{ reparaciones.deliveryNote }}</td>
        <td>{{ reparaciones.cost }}</td>
        <td>{{ reparaciones.currency }}</td>
        <td>{{ reparaciones.description }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="12">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ reparaciones.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
