<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="reparaciones"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="centro.nombre ">
          <div>
            <p-sortIcon class="order" field="centro.nombre " />
            Centro reparación
            <p-columnFilter
              class="filter"
              type="text"
              field="centro.nombre "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="maquinaria.matricula ">
          <div>
            <p-sortIcon class="order" field="maquinaria.matricula " />
            Maquinaria
            <p-columnFilter
              class="filter"
              type="text"
              field="maquinaria.matricula "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="codTipoReparacion">
          <div>
            <p-sortIcon class="order" field="codTipoReparacion" />
            Tipo Acción
            <p-columnFilter
              class="filter"
              type="text"
              field="codTipoReparacion"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="typeMaintenance">
          <div>
            <p-sortIcon class="order" field="typeMaintenance" />
            Tipo Mantenimiento
            <p-columnFilter
              class="filter"
              type="text"
              field="typeMaintenance"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              class="filter"
              type="text"
              field="fecha"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="proveedor.nombre">
          <div>
            <p-sortIcon class="order" field="proveedor.nombre" />
            Proveedor
            <p-columnFilter
              class="filter"
              type="text"
              field="proveedor.nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="maquinaria.impuesto.importe">
          <div>
            <p-sortIcon class="order" field="maquinaria.impuesto.importe" />
            Albaran
            <p-columnFilter
              class="filter"
              type="text"
              field="maquinaria.impuesto.importe"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="maquinaria.impuesto.importe ">
          <div>
            <p-sortIcon class="order" field="maquinaria.impuesto.importe " />
            Coste
            <p-columnFilter
              class="filter"
              type="text"
              field="maquinaria.impuesto.importe "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="maquinaria.codMoneda ">
          <div>
            <p-sortIcon class="order" field="maquinaria.codMoneda " />
            Divisa
            <p-columnFilter
              class="filter"
              type="text"
              field="maquinaria.codMoneda "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="comentarios">
          <div>
            <p-sortIcon class="order" field="comentarios" />
            Descripción
            <p-columnFilter
              class="filter"
              type="text"
              field="comentarios"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reparaciones>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(reparaciones)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(reparaciones)"/>
        </td>
        <td>{{ reparaciones.centro.nombre }}</td>
        <td>{{ reparaciones.maquinaria.matricula }}</td>
        <!-- TODO: ADD TIPO DE MANTINIMIENTO Y  ALBARÁN -->
        <td>{{ reparaciones.codTipoReparacion }}</td>
        <td>{{ reparaciones }}</td>
        <td>{{ reparaciones.fecha }}</td>
        <td>{{ reparaciones.proveedor.nombre }}</td>
        <td>{{ reparaciones }}</td>
        <td>{{ reparaciones.maquinaria.impuesto.importe }}</td>
        <td>{{ reparaciones.maquinaria.codMoneda }}</td>
        <td>{{ reparaciones.comentarios }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="12">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ reparaciones.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
