<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="horometrosKilometros"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="nombre">
          <div>
            <p-sortIcon class="order" field="nombre" />
            Centro
            <p-columnFilter
              class="filter"
              type="text"
              field="nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="idSubfamilia">
          <div>
            <p-sortIcon class="order" field="idSubfamilia" />
            SubFamilia
            <p-columnFilter
              class="filter"
              type="text"
              field="idSubfamilia"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="nombre">
          <div>
            <p-sortIcon class="order" field="nombre" />
            Maquinaria
            <p-columnFilter
              class="filter"
              type="text"
              field="nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="brand">
          <div>
            <p-sortIcon class="order" field="brand" />
            Marca
            <p-columnFilter
              class="filter"
              type="text"
              field="brand"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="model">
          <div>
            <p-sortIcon class="order" field="model" />
            Modelo
            <p-columnFilter
              class="filter"
              type="text"
              field="model"
              display="menu">
          </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="finalHorometer">
          <div>
            <p-sortIcon class="order" field="finalHorometer" />
            finalHorometer
            <p-columnFilter
              class="filter"
              type="text"
              field="finalHorometer"
              display="menu">
          </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="kilometros">
          <div>
            <p-sortIcon class="order" field="kilometros" />
            finalKM
            <p-columnFilter
              class="filter"
              type="text"
              field="kilometros"
              display="menu">
          </p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              class="filter"
              type="text"
              field="fecha"
              display="menu">
          </p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-horometrosKilometros>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(horometrosKilometros)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(horometrosKilometros)"/>
        </td>
        <td>{{ horometrosKilometros.referencia.centro.nombre }}</td>
        <td>{{ horometrosKilometros.referencia.maquinaria.idSubfamilia }}</td>
        <td>{{ horometrosKilometros.referencia.maquinaria.empresa.nombre }}</td>
                <!-- TODO: AÑADIR MARCA , MODELO , FINALHM-->
        <td>{{ horometrosKilometros }}</td>
        <td>{{ horometrosKilometros }}</td>
        <td>{{ horometrosKilometros }}</td>
        <td>{{ horometrosKilometros.kilometros }}</td>
        <td>{{ horometrosKilometros.fecha}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="10">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ horometrosKilometros.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
