<div class="Table">
  <p-table
    [value]="repostajeVehiculos"
    [tableStyle]="{ 'min-width': '50rem' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="centerMachine">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="centerMachine"
              class="filter"
              placeholder="Centro maquinas"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="centerMachine" />
          </div>
        </th>
        <th pSortableColumn="deposit">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="deposit"
              class="filter"
              placeholder="Depósito"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="deposit" />
          </div>
        </th>
        <th pSortableColumn="machine">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="machine"
              class="filter"
              placeholder="Maquinaria"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="machine" />
          </div>
        </th>
        <th pSortableColumn="bidon">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="bidon"
              class="filter"
              placeholder="Bidón"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="bidon" />
          </div>
        </th>
        <th pSortableColumn="date">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="date"
              class="filter"
              placeholder="Fecha"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="date" />
          </div>
        </th>
        <th pSortableColumn="amount">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="amount"
              class="filter"
              placeholder="Cantidad"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="amount" />
          </div>
        </th>
        <th pSortableColumn="account">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="account"
              class="filter"
              placeholder="Cuenta"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="account" />
          </div>
        </th>
        <th pSortableColumn="card">
          <div class="flex align-items-center">
            <p-columnFilter
              type="text"
              field="card"
              class="filter"
              placeholder="Tarjeta"
              [showClearButton]="false"
            />
            <p-sortIcon class="order" field="card" />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repostajeVehiculos>
      <tr class="body-table">
        <td>
          <i class="fas fa-pen"></i>
        </td>
        <td>{{ repostajeVehiculos.centerMachine }}</td>
        <td>{{ repostajeVehiculos.deposit }}</td>
        <td>{{ repostajeVehiculos.machine }}</td>
        <td>{{ repostajeVehiculos.bidon }}</td>
        <td>{{ repostajeVehiculos.date }}</td>
        <td>{{ repostajeVehiculos.amount }}</td>
        <td>{{ repostajeVehiculos.account }}</td>
        <td>{{ repostajeVehiculos.card }}</td>
      </tr>
    </ng-template>
  </p-table>
  <p>Resultado totales: {{ repostajeVehiculos.length || 0 }}</p>
</div>
