<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="repostajeVehiculos"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="centerMachine">
          <div>
            <p-sortIcon class="order" field="centerMachine" />
            Centro Maquinas
            <p-columnFilter
              type="text"
              field="centerMachine"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="deposit">
          <div>
            <p-sortIcon class="order" field="deposit" />
            Depósito
            <p-columnFilter
              type="text"
              field="deposit"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="machine">
          <div>
            <p-sortIcon class="order" field="machine" />
            Maquinaria
            <p-columnFilter
              type="text"
              field="machine"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="bidon">
          <div>
            <p-sortIcon class="order" field="bidon" />
            Bidón
            <p-columnFilter
              type="text"
              field="bidon"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="date">
          <div>
            <p-sortIcon class="order" field="date" />
            Fecha
            <p-columnFilter
              type="text"
              field="date"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="amount">
          <div>
            <p-sortIcon class="order" field="amount" />
            Cantidad
            <p-columnFilter
              type="text"
              field="amount"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="account">
          <div>
            <p-sortIcon class="order" field="account" />
            Cuenta
            <p-columnFilter
              type="text"
              field="account"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="card">
          <div>
            <p-sortIcon class="order" field="card" />
            Tarjeta
            <p-columnFilter
              type="text"
              field="card"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repostajeVehiculos>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(repostajeVehiculos)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(repostajeVehiculos)"/>
        </td>
        <td>{{ repostajeVehiculos.centerMachine }}</td>
        <td>{{ repostajeVehiculos.deposit }}</td>
        <td>{{ repostajeVehiculos.machine }}</td>
        <td>{{ repostajeVehiculos.bidon }}</td>
        <td>{{ repostajeVehiculos.date }}</td>
        <td>{{ repostajeVehiculos.amount }}</td>
        <td>{{ repostajeVehiculos.account }}</td>
        <td>{{ repostajeVehiculos.card }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="10">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ repostajeVehiculos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
