<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="repostajeVehiculos"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="nombre ">
          <div>
            <p-sortIcon class="order" field="nombre " />
            Centro Maquinas
            <p-columnFilter
              type="text"
              field="nombre "
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="descripcion ">
          <div>
            <p-sortIcon class="order" field="descripcion " />
            Depósito
            <p-columnFilter
              type="text"
              field="descripcion "
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <!-- TODO: Falta matrícula en el objeto -->
        <th pSortableColumn="matricula ">
          <div>
            <p-sortIcon class="order" field="matricula " />
            Maquinaria
            <p-columnFilter
              type="text"
              field="matricula "
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="idBidon">
          <div>
            <p-sortIcon class="order" field="idBidon" />
            Bidón
            <p-columnFilter
              type="text"
              field="idBidon"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="fecha">
          <div>
            <p-sortIcon class="order" field="fecha" />
            Fecha
            <p-columnFilter
              type="text"
              field="fecha"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="cantidad">
          <div>
            <p-sortIcon class="order" field="cantidad" />
            Cantidad
            <p-columnFilter
              type="text"
              field="cantidad"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="cuenta">
          <div>
            <p-sortIcon class="order" field="cuenta" />
            Cuenta
            <p-columnFilter
              type="text"
              field="cuenta"
              class="filter"
              display="menu"
            />
          </div>
        </th>
        <th pSortableColumn="tarjeta">
          <div>
            <p-sortIcon class="order" field="tarjeta" />
            Tarjeta
            <p-columnFilter
              type="text"
              field="tarjeta"
              class="filter"
              display="menu"
            />
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-repostajeVehiculos>
      <tr class="body-table">
        <td>
          <p-button
            icon="fas fa-pen"
            severity="success"
            [text]="true"
            (click)="confirm_edit(repostajeVehiculos)"
          />
        </td>
        <td>
          <p-button
            icon="fas fa-trash"
            severity="danger"
            [text]="true"
            (click)="confirm_delete(repostajeVehiculos)"
          />
        </td>
        <td>{{ repostajeVehiculos.centro.nombre }}</td>
        <td>{{ repostajeVehiculos.deposito.descripcion }}</td>
        <td>{{ repostajeVehiculos.matricula }}</td>
        <td>{{ repostajeVehiculos.idBidon }}</td>
        <td>{{ repostajeVehiculos.fecha | date : "dd/MM/yyyy" }}</td>
        <td>
          {{ repostajeVehiculos.cantidad }} - {{ repostajeVehiculos.codUnidad }}
        </td>
        <td>{{ repostajeVehiculos.cuenta }}</td>
        <td>{{ repostajeVehiculos.tarjeta }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="10">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ repostajeVehiculos.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
  <p-toast></p-toast>
</div>
