    <!-- Tabla -->
    <div class="card">
      <p-table
        [value]="stock || []"
        dataKey="id"
        [tableStyle]="{ 'min-width': '50rem' }"
      >
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nombre" style="width: 16.66%">
              Nombre centro <p-sortIcon class="orden" field="nombre" />
            </th>
            <th pSortableColumn="nombreReferencia" style="width: 16.66%">
              Nombre referencia material
              <p-sortIcon class="orden" field="nombreReferencia" />
            </th>
            <th pSortableColumn="descripcion" style="width: 16.66">
              Descripcion referencia material
              <p-sortIcon class="orden" field="descripcion" />
            </th>
            <th pSortableColumn="cantidad" style="width: 16.66%">
              Cantidad <p-sortIcon class="orden" field="cantidad" />
            </th>
            <th pSortableColumn="Importe" style="width: 16.66%">
              Importe <p-sortIcon class="orden" field="Importe" />
            </th>
            <th pSortableColumn="Divisa" style="width: 16.66%">
              Divisa <p-sortIcon class="orden" field="Divisa" />
            </th>
          </tr>
          <tr>
            <th>
              <p-columnFilter
                type="text"
                field="code"
                [showClearButton]="false"
              />
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="name"
                [showClearButton]="false"
              />
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="quantity"
                [showClearButton]="false"
              />
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="price"
                [showClearButton]="false"
              />
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="price"
                [showClearButton]="false"
              />
            </th>
            <th>
              <p-columnFilter
                type="text"
                field="price"
                [showClearButton]="false"
              />
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-stock>
          <tr class="body-table">
            <td>{{ stock.nombreCentro }}</td>
            <td>{{ stock.nombreReferenciaMaterial }}</td>
            <td>{{ stock.descripcionRefMaterial }}</td>
            <td>{{ stock.cantidad }}</td>
            <td>{{ stock.importe }}</td>
            <td>{{ stock.divisa }}</td>
          </tr>
        </ng-template>
      </p-table>
      <p>Resultado totales:  {{ stock?.length || 0 }}</p>
    </div>


