<body>
  <form>
    <div class="form-row">
      <div class="form-group">
        <label>Centro</label>
        <input
          class="input-form"
          id="centro"
          type="text"
          pInputText
          formControlName="centro"
        />
      </div>

      <div class="form-group">
        <label>Nombre centro</label>
        <input
          class="input-form"
          id="nombre-centro"
          type="text"
          pInputText
          [disabled]="true"
          formControlName="nombre-centro"
        />
      </div>
    </div>

    <div class="form-row-2">
      <div class="form-group-2">
        <label>Familia</label>
        <input
          class="input-form"
          id="Familia"
          pInputText
          formControlName="Familia"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Maquianria</label>
        <input
          class="input-form"
          id="maquinaria"
          pInputText
          formControlName="maquinaria"
        />
      </div>

      <div class="form-group">
        <label>Bastidor</label>
        <p-inputNumber
          mode="currency"
          inputId="Importe"
          currency="EUR"
          locale="de-DE"
          class="input-form"
          id="bastidor"
          formControlName="bastidor"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label>Fecha desde</label>
        <p-calendar
          placeholder="mm/dd/yyyy"
          class="input-form"
          id="fecha-desde"
          [showIcon]="true"
          inputId="icondisplay"
          formControlName="fechaDesde"
        />
      </div>

      <div class="form-group">
        <label>Fecha hasta</label>
        <p-inputMask
          mask="99/99/9999"
          placeholder="mm/dd/yyyy"
          slotChar="mm/dd/yyyy"
          class="input-form"
          id="fecha-hasta"
          formControlName="fechaHasta"
        />
      </div>
    </div>
    <div class="form-buttons">
      <div class="form-button">
        <button class="limpiar">Limpiar búsqueda</button>
      </div>

      <div class="form-button">
        <button class="buscar">Buscar</button>
      </div>
    </div>
  </form>

  <hr />
  <h1>Gruas</h1>

  <!-- TABLA DE DATOS -->
  <div class="card">
    <p-table [value]="gruas || []" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="maquinaria" style="width: 19.3%">
            Maquinaria <p-sortIcon field="maquinaria" class="orden" />
          </th>
          <th pSortableColumn="centro" style="width: 19.3%">
            Centro <p-sortIcon field="centro" class="orden" />
          </th>
          <th pSortableColumn="familia" style="width: 19.3%">
            Familia <p-sortIcon field="familia" class="orden" />
          </th>
          <th pSortableColumn="subfamilia" style="width: 19.3%">
            Subfamilia <p-sortIcon field="subfamilia" class="orden" />
          </th>
          <th pSortableColumn="fechaproxima" style="width: 19.3%">
            Fecha próxima <p-sortIcon field="fechaproxima" class="orden" />
          </th>
          <th pSortableColumn="reload" style="width: 3.5%">Reload</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-gruas>
        <tr class="body-table">
          <td>{{ gruas.maquinaria }}</td>
          <td>{{ gruas.centro }}</td>
          <td>{{ gruas.familia }}</td>
          <td>{{ gruas.subfamilia }}</td>
          <td>{{ gruas.fechaproxima }}</td>
          <td><img />Basura</td>
        </tr>
      </ng-template>
    </p-table>
    <p>Resultado totales: {{ gruas?.length || 0 }}</p>
  </div>
</body>
