<div class="col-12 km-table-valoriza-app">
  <p-table
    [value]="unidades"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="fuelType">
          <div>
            <p-sortIcon class="order" field="fuelType" />
            Tipo Combustible
            <p-columnFilter
              class="filter"
              type="text"
              field="fuelType"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="units">
          <div>
            <p-sortIcon class="order" field="fuelType" />
            Unidades
            <p-columnFilter
              class="filter"
              type="text"
              field="fuelType"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="symbol">
          <div>
            <p-sortIcon class="order" field="fuelType" />
            Simbolo
            <p-columnFilter
              class="filter"
              type="text"
              field="fuelType"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-unidades>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="edit(unidades)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(unidades)"/>
        </td>
        <td>{{ unidades.fuelType }}</td>
        <td>{{ unidades.units }}</td>
        <td>{{ unidades.symbol }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="5">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ unidades.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>
