<div class="col-12 km-table-valoriza-app">
  <p-table
    #dt
    [value]="reparacionesCentro"
    dataKey="id"
    styleClass="p-datatable-sm"
    [rowsPerPageOptions]="[5, 10, 20]"
    [paginator]="true"
    [rows]="5"
  >
    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th></th>
        <th pSortableColumn="codEstado">
          <div>
            <p-sortIcon class="order" field="codEstado" />
            Code
            <p-columnFilter
              class="filter"
              type="text"
              field="codEstado"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="nombre">
          <div>
            <p-sortIcon class="order" field="nombre" />
            Nombre
            <p-columnFilter
              class="filter"
              type="text"
              field="nombre"
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="reparacion.centro.nombre ">
          <div>
            <p-sortIcon class="order" field="reparacion.centro.nombre " />
            Delegación
            <p-columnFilter
              class="filter"
              type="text"
              field="reparacion.centro.nombre "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
        <th pSortableColumn="maquinaria.impuesto.importe ">
          <div>
            <p-sortIcon class="order" field="maquinaria.impuesto.importe " />
            Coste
            <p-columnFilter
              class="filter"
              type="text"
              field="maquinaria.impuesto.importe "
              display="menu"
            ></p-columnFilter>
          </div>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-reparacionesCentro>
      <tr class="body-table">
        <td>
          <p-button icon="fas fa-pen" severity="success" [text]="true" (click)="confirm_edit(reparacionesCentro)"/>
        </td>
        <td>
          <p-button icon="fas fa-trash" severity="danger" [text]="true" (click)="confirm_delete(reparacionesCentro)"/>
        </td>
        <td>{{ reparacionesCentro.codEstado }}</td>
        <td>{{ reparacionesCentro.nombre }}</td>
        <td>{{ reparacionesCentro.reparacion.centro.nombre }}</td>
        <td>{{ reparacionesCentro.reparacion.maquinaria.impuesto.importe }}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer">
      <tr>
        <td colspan="7">
          <div class="pl-2">
            Resultado totales:
            <span class="font-bold">{{ reparacionesCentro.length || 0 }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
  <p-toast></p-toast>
</div>
